footer {
  font-family: "calibri", sans-serif;
  background-color: #570d0b;
  color: #fff;
  margin-top: 10px;
  display: flex !important;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

#copyright {
  font-size: 0.75em;
}

#legals p {
  font-size: 0.75em;
}

#legals a {
  color: #fff !important;
  text-decoration: underline;
}

#legals a:hover {
  color: black;
}

/* MEDIA QUERY */
@media (max-width: 768px) {
  footer {
    flex-direction: column;
  }
}
