footer {
  font-family: "calibri", sans-serif;
  background-color: #570d0b;
  color: #fff;
  margin-top: 10px;
  display: flex !important;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

#copyright {
  font-size: 0.75em;
}

#legals {
  color: #fff;
  text-decoration: underline;
}

#legals:hover {
  color: #aaa;
}

#legals:visited {
  color: #330100;
}

/* MEDIA QUERY */
@media (max-width: 768px) {
  footer {
    flex-direction: column;
  }
}
