footer {
  font-family: "calibri", sans-serif;
  background-color: #570d0b;
  color: #fff;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

footer p, footer a {
  margin: 10px 0;
}

#copyright {
  font-size: 0.75em;
}

footer a {
  color: #fff;
  text-decoration: underline;
}

footer a:hover {
  color: #aaa;
}

footer a:visited {
  color: #330100;
}

/* MEDIA QUERY */
@media (max-width: 768px) {
  footer {
    flex-direction: column;
  }
}
