/* FONT */

@font-face {
  font-family: 'Roboto'; font-style: normal; font-weight: 400;
  src: url(../fonts/roboto-regular.woff2) format('woff2');
}

@font-face {
  font-family: 'Raleway'; font-style: normal; font-weight: 400;
  src: url(../fonts/raleway.woff2) format('woff2');
}

/* GENERAL */
* { margin: 0; padding: 0; }

body {
  font-family: 'Roboto', sans-serif;
  color: #000;
}

ul {
  list-style: none;
}

a {
  text-decoration: underline;
}

h3 {
  align-self: center;
  font-size: 2em;
  text-transform: uppercase;
  color: #570d0b;
  font-family: 'Raleway', sans-serif;
}
h1 {
  align-self: center;
  font-size: 3em;
  text-transform: uppercase;
  color: #570d0b;
  font-family: 'Raleway', sans-serif;
}

/* MEDIA QUERY */
@media (max-width: 768px) {
  p {
    text-align: justify;
  }
}
