header {
  font-family: sans-serif;
  display: flex;
  justify-content: center;
  padding: 1em;
  background-color: #570d0b;
  z-index: 20; /* corrige le bug pour le form */
  position: relative; /* corrige le bug pour le form */
}

header ul {
  margin-bottom: 0;
}

#logoB3D {

  position: absolute; left: 0; top: 0; z-index: 1;

  transform: translate(0, -5%);

  min-width: 0; background: transparent;
}

#logoB3D img { height: 9.5em; filter: drop-shadow(1px 1px 10px #570d0b); }

/* DRAPEAUX EN MODE DESKTOP */
#flags {
  position: absolute;
  right: 10px;
  top: calc(50% - 20px);
}

#flags a {
  display: inline-block;
  width: 40px;
  height: 40px;
  transition: all 0.3s ease-in-out;
}

#flags a img {
  height: 100%;
  width: 100%;
  margin: auto;
}

#flags a:hover { transform: scale(1.1); }

/* MENU LANGAGE */
#notFlags { display: none; }

@media (max-width: 991px) {

  #logoB3D {

      left: 50%; top: -5px;

      transform: translate(-50%, 0) scale(1.25);
  }

  #logoB3D img { max-height: 70px; }

  #flags { display: none; }

  #notFlags { display: block; }
}

.nav-toggle {
  padding: 0.1em 0.4em 0.35em;
  border-radius: 0.25em;
}

.nav-toggle:hover {
  cursor: pointer;
}

.nav-toggle:focus, .nav-toggle:active {
  background: #fb3;
}

.nav-toggle .icon-bar {
  display: block;
  width: 2.5em;
  height: 0.5em;
  margin-top: 0.25em;
  background-color: #aaa;
  border: 1px solid #777;
  border-radius: 0.25em;
}

nav.sauge {
  position: relative;
  width: 100%;
  padding: 1em;
}

nav.sauge a {
  background-color: #7c2522;
  padding: 0.5em 0;
  text-transform: uppercase;
  text-decoration: none !important;
  text-align: center !important;
  font-family: 'Raleway', sans-serif;
  color: #fff !important;
}

nav.sauge a:not([href]) { cursor: default; }

nav.sauge ul li ul li a {
  background-color: #97423f;
}
nav.sauge ul li ul li a:hover {
  background-color: #330100;
}

nav.sauge > ul > li.active > a { background-color: #97423f !important; }

nav.sauge li:not(.active) a:hover {
  background-color: #330100;
  color: #fff;
  font-weight: bold;
}

@media (max-width: 991px) {
  nav.sauge .nav-toggle {
    float: right;
  }

  nav.sauge>ul {
    display: none;
    position: absolute;
    top: calc(100% - 1px);
    left: -1px;
    width: calc(100% + 2 * 1px);
    background-color: #e6e6fa;
    background-image: url(../images/background-menu.jpg);
    background-size: cover;
    box-shadow: 5px 5px 10px #000;
  }

  nav.sauge>ul>li>ul {
    display: block;
    width: 90%;
  }

  nav.sauge>ul>li>.nav-panel {
    display: none;
  }

  nav.sauge a {
    display: inline-block;
    font-size: 1.2em;
    min-width: 60%;
    background-color: rgba(51, 1, 0, .8);
  }

  nav.sauge ul li ul li a {
    background-color: rgba(151, 66, 63, .8);
  }

  nav.sauge a:hover {
    border-color: #666;
  }
}

@media (min-width: 992px) {
  nav.sauge {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  nav.sauge .nav-toggle {
    display: none;
  }

  nav.sauge>ul {
    display: flex;
    white-space: nowrap;
  }

  nav.sauge>ul>li {
    text-align: center;
  }

  nav.sauge a {
    display: block;
  }

  nav.sauge ul li {
    position: relative;
    width: 10em;
  }

  nav.sauge>ul>li>ul, nav.sauge>ul>li>.nav-panel {
    max-height: 0;
    overflow: hidden;
    position: absolute;
    left: 0;
    top: 100%;

    z-index: 10;
    transition: max-height 0s ease-in;
  }

  nav.sauge>ul>li>ul {
    width: 100%;
  }

  nav.sauge>ul>li>.nav-panel {
    background-color: #fff;
    width: 44em;
    transform: translate(-50%, 0);
  }

  nav.sauge>ul>li:hover>ul, nav.sauge>ul>li:hover>.nav-panel {
    max-height: 100vh;
    transition-duration: 1s;
  }

  nav.sauge>ul>li:hover>.nav-panel {
    border: 1px solid #ccc;
    border-radius: 0.25em;
    box-shadow: 2px 2px 6px #000;
  }

  .product-area-content {
    padding: 0.4em;
    display: flex; flex-wrap: wrap;
    justify-content: space-around;
    background-color: #330100;
  }
  
  .product-link {
    width: 48%;
    margin: 0.4em;
    padding: 1em 1em 0 1em !important;
    border: 1px solid #777;
    border-radius: 0.25em;
    transition: transform 250ms ease-in;
  }

  .product-link:hover {
    background-color: #97423f !important;
    transform: scale(1.05);
    font-weight: bold;
  }
  
  .product-link img {
    display: block;
    width: 100%;
    outline: 1px solid #ddd;
  }
  
  .product-link .product-name {
    font-size: 1.25em;
    margin: 0.25em 0;
  }
}
