/* MENTIONS */
#mentions {
  background-color: #c09066;
}

#mentions h1, h2 {
  align-self: center;
  font-size: 2em;
  text-transform: uppercase;
  text-align: center;
  color: #570d0b;
  font-family: 'Raleway', sans-serif;
}

#mentions p{
  margin: auto 50px;
}

#mentions ul {
  margin: auto 100px;
  padding: 10px;
}

#mentions li::before {
  content: "\2B9E";
  color: #330100;
  font-weight: bold;
  display: inline-block;
  width: 1em;
  margin-left: -1em;
}

#mentions a {
  color: #000000;
  text-decoration: underline;
}

#mentions a:hover {
  color: #aaa;
}

#mentions a:visited {
  color: #330100;
}

/* MEDIA QUERY */
@media (max-width: 768px) {
    #mentions p{
      margin: auto 20px;
    }
  }
