/* planDuSite */
body {
  background-color: #570d0b;
}

footer {
  position: fixed;
  bottom: 0;
}

#planDuSite {
  background-color: #c09066;
  width: 60%;
  margin: auto;
}

#planDuSite h1 {
  align-self: center;
  font-size: 2em;
  text-transform: uppercase;
  text-align: center;
  color: #570d0b;
  font-family: 'Raleway', sans-serif;
}

#planDuSite ul {
  margin: auto 50px;
  padding: 10px;
}

#planDuSite li {
  list-style: disclosure-closed;
}

#planDuSite a {
  color: #fff;
  text-decoration: underline;
}

#planDuSite a:hover {
  color: #aaa;
}

#planDuSite a:visited {
  color: #330100;
}

/* MEDIA QUERY */
@media (max-width: 768px) {
  body {
    overflow: scroll;
  }
  footer {
    position: relative;
  }
  #planDuSite {
    width: 100%;
  }
}
