body {
  background-image: url('../images/Fond.jpg');
  background-size: cover;
}

h3 {
  text-align: center;
}

#produits, #details, #photos  {
  background-color: #97423F;
  color: #FFF;
  padding: 10px;
  border: 1px solid black;
  margin: 20px;
}

#contact {
  margin: 20px;
  border: 1px solid black;
}

#details, .bois {
  display: flex;
  flex-direction: row;
}

.infos {
  flex-direction: column;
  padding: 10px;
}

.bois img {
  padding: 5px;
}
