/* PAGE SOCIETE */
body {
  background-color: #c09066;
}

p {
  font-family: 'Raleway', sans-serif;
}

.coeur {
  min-width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.encart, .invert-encart {
  font-size: 20px;
  display: flex;
  padding: 80px 0;
  /* Create the parallax scrolling effect */
  box-shadow: inset 0 0 0 1000px rgba(255, 255, 255, .5);
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

#encart1 {
  background-image: url(../images/background-accueil.jpg);
  border-bottom: 20px solid #c09066;
}
#encart2 {
  background-image: url(../images/background-forest.jpg);
  border-bottom: 20px solid #c09066;
}
#encart3 {
  background-image: url(../images/background-piquet.jpg);
}

.encart {
  flex-direction: row;
}

.invert-encart {
  flex-direction: row-reverse;
}

.encart h3, .invert-encart h3 {
  text-align: center;
  font-size: 2em;
  text-transform: uppercase;
  color: #570d0b;
  font-family: 'Raleway', sans-serif;
}

.encart h3 {
  margin-left: 50px;
}

.invert-encart h3 {
  margin-right: 50px;
}

.encart p, .invert-encart p {
  margin: auto 50px;
  align-self: center;
}

/* MEDIA QUERY */
@media (max-width: 768px) {
  .encart, .invert-encart {
    flex-direction: column;
  }

  .encart h3, .invert-encart h3 {
    margin: 0 0 25px 0;
  }
  .encart p, .invert-encart p {
    margin: auto 20px;
  }
}
