footer {
  font-family: "calibri", sans-serif;
  border: 1px solid black;
  border-radius: 5px;
  background-color: #97423F;
  color: #FFF;
  padding: 10px 10px 10px 10px;
  margin: 10px 10px 10px 10px;
}

#copyright {
  font-size: 0.75em;
}

#legals p {
  font-size: 0.75em;
}

#legals p a {
  color: #FFF;
  text-decoration: underline;
}

#legals p a:hover {
  color: black;
}
